<h3>Allocate server</h3>
<form (submit)="allocate(allocateForm)" #allocateForm="ngForm">
    <label for="region">Region: </label>
    <input type="text" name="region" ngModel placeholder="Enter the region name">
    <button type="submit">Request</button>
</form> 
<br>
<p>{{allocateResponse}}</p>

<hr>

<h3>Deallocate server</h3>
<form (submit)="deallocate(deallocateForm)" #deallocateForm="ngForm">
    <label for="server">Server: </label>
    <input type="text" name="server" ngModel placeholder="Enter the server name">
    <button type="submit">Send</button>
</form>
<p *ngIf="deallocateResponse">Server deallocated successfully!</p>